<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Creatosh_DB_SQLConnectionString" connectionString="Data Source=xp4uloaxbq.database.windows.net;Initial Catalog=&quot;Creatosh DB SQL&quot;;Persist Security Info=True;User ID=creatosh;Password=1qaz!QAZ"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

  </system.web>

</configuration>
